<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.bpmn2.modeler.runtime">
      <runtime
            class="de.tudarmstadt.dvs.ukuflow.runtime.ukuFlowRuntime"
            description="BPMN2 Modeler customizations for the ukuFlow Process engine"
            id="de.tudarmstadt.dvs.ukuflow.runtime.ukuflowprocess"
            name="ukuFlow Process"
            versions="1.0">
      </runtime>
      <model
            resourceFactory="org.eclipse.bpmn2.modeler.core.model.Bpmn2ModelerResourceFactoryImpl"
            runtimeId="de.tudarmstadt.dvs.ukuflow.runtime.ukuflowprocess"
            uri="http://www.dvs.tu-darmstadt.de/ukuflow">
      </model>
      <modelEnablement
            profile="Default"
            runtimeId="de.tudarmstadt.dvs.ukuflow.runtime.ukuflowprocess"
            type="Process">
         <disable
               object="all">
         </disable>
         <enable
               object="ScriptTask">
         </enable>
         <enable
               object="InclusiveGateway">
         </enable>
         <enable
               object="ExclusiveGateway">
         </enable>
         <enable
               object="EventBasedGateway">
         </enable>
         <enable
               object="ParallelGateway">
         </enable>
         <enable
               object="SequenceFlow">
         </enable>
         <enable
               object="TextAnnotation">
         </enable>
         <enable
               object="Association">
         </enable>
         <enable
               object="IntermediateCatchEvent">
         </enable>
         <enable
               object="TimerEventDefinition">
         </enable>
         <enable
               object="Definitions">
         </enable>
         <enable
               object="ReceiveTask">
         </enable>
         <disable
               feature="typeLanguage"
               object="Definitions">
         </disable>
         <disable
               feature="diagrams"
               object="Definitions">
         </disable>
         <disable
               object="Task">
         </disable>
         <disable
               object="ManualTask">
         </disable>
         <disable
               object="UserTask">
         </disable>
         <disable
               object="BusinessRuleTask">
         </disable>
         <disable
               object="ServiceTask">
         </disable>
         <disable
               object="SendTask">
         </disable>
         <disable
               object="ChoreopgraphyTask">
         </disable>
         <disable
               object="ThrowEvent">
         </disable>
         <disable
               object="BoundaryEvent">
         </disable>
         <disable
               object="ConditionalEventDefinition">
         </disable>
         <disable
               object="SignalEventDefinition">
         </disable>
         <disable
               object="MessageEventDefinition">
         </disable>
         <disable
               object="EscalationEventDefinition">
         </disable>
         <disable
               object="CompensateEventDefinition">
         </disable>
         <disable
               object="LinkEventDefinition">
         </disable>
         <disable
               object="ErrorEventDefinition">
         </disable>
         <disable
               object="CancelEventDefinition">
         </disable>
         <disable
               object="TerminateEventDefinition">
         </disable>
         <disable
               object="DataInput">
         </disable>
         <disable
               object="DataObject">
         </disable>
         <disable
               object="DataOutput">
         </disable>
         <disable
               object="DataStore">
         </disable>
         <disable
               object="Lane">
         </disable>
         <disable
               object="SubProcess">
         </disable>
         <disable
               object="Transaction">
         </disable>
         <disable
               object="Group">
         </disable>
         <disable
               object="AdHocSubProcess">
         </disable>
         <disable
               object="CallActivity">
         </disable>
         <disable
               object="Message">
         </disable>
         <disable
               object="Conversation">
         </disable>
         <disable
               object="SubChoreography">
         </disable>
         <disable
               object="CallChoreography">
         </disable>
      </modelEnablement>
   </extension>

</plugin>
