<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="de.tudarmstadt.dvs.ukuflow.handler.ConvertCommand"
            id="de.tudarmstadt.dvs.ukuflow.converterBase64"
            name="convertcmd">
      </command>
      <command
            defaultHandler="de.tudarmstadt.dvs.ukuflow.deployment.DeployCommand"
            id="de.tudarmstadt.dvs.ukuflow.deployment.deploycommand"
            name="deploycommand">
         <commandParameter
               id="de.tudarmstadt.dvs.ukuflow.deployment.portID"
               name="PortID"
               optional="false">
         </commandParameter>
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.ui.popup.any?after=additions">
         <menu
               icon="icon/ukuflow.png"
               label="&amp;ukuFlow"
               mnemonic="test">
            <menu
                  icon="icon/usbport.png"
                  label="&amp;Deploy to"
                  mnemonic="deploy the workflow on one of the connected nodes (z1 or sky)">
               <dynamic
                     class="de.tudarmstadt.dvs.ukuflow.deployment.DynamicNodeFactory"
                     id="de.tudarmstadt.dvs.ukuflow.deploymentDynamic">
               </dynamic>
            </menu>
            <command
                  commandId="de.tudarmstadt.dvs.ukuflow.converterBase64"
                  icon="icon/binary.png"
                  label="&amp;Convert to Base64"
                  mnemonic="the output will be save in a file with .uku64 extension"
                  style="push">
               <visibleWhen
                     checkEnabled="false">
                  <with
                        variable="activeMenuSelection">
                     <iterate
                           ifEmpty="false"
                           operator="or">
                        <adapt
                              type="org.eclipse.core.resources.IResource">
                           <or>
                              <test
                                    property="org.eclipse.core.resources.extension"
                                    value="bpmn">
                              </test>
                              <test
                                    property="org.eclipse.core.resources.extension"
                                    value="bpmn2">
                              </test>
                           </or>
                        </adapt>
                     </iterate>
                  </with>
               </visibleWhen>
            </command>
            <visibleWhen
                  checkEnabled="false">
               <and>
                  <count
                        value="1">
                  </count>
                  <with
                        variable="activeMenuSelection">
                     <iterate
                           ifEmpty="false"
                           operator="or">
                        <adapt
                              type="org.eclipse.core.resources.IResource">
                           <or>
                              <test
                                    property="org.eclipse.core.resources.extension"
                                    value="bpmn">
                              </test>
                              <test
                                    property="org.eclipse.core.resources.extension"
                                    value="bpmn2">
                              </test>
                              <test
                                    property="org.eclipse.core.resources.extension"
                                    value="uku">
                              </test>
                              <test
                                    property="org.eclipse.core.resources.extension"
                                    value="uku64">
                              </test>
                           </or>
                        </adapt>
                     </iterate>
                  </with>
               </and>
            </visibleWhen>
         </menu>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.core.expressions.definitions">
      <definition
            id="de.tudarmstadt.dvs.ukuflow.menu.visiblity">
            <with
                     variable="activeMenuSelection">
                  <iterate
                        ifEmpty="false"
                        operator="or">
                     <adapt
                           type="org.eclipse.core.resources.IResource">
                        <or>
                           <test
                                 property="org.eclipse.core.resources.extension"
                                 value="bpmn">
                           </test>
                           <test
                                 property="org.eclipse.core.resources.extension"
                                 value="bpmn2">
                           </test>
                           <test
                                 property="org.eclipse.core.resources.extension"
                                 value="uku">
                           </test>
                           <test
                                 property="org.eclipse.core.resources.extension"
                                 value="uku64">
                           </test>
                        </or>
                     </adapt>
                  </iterate>
               </with>
      </definition>
      <definition
            id="de.tudarmstadt.dvs.ukuflow.converterBase64.visibility">
         <with
               variable="activeMenuSelection">
            <iterate
                  ifEmpty="false"
                  operator="or">
               <adapt
                     type="org.eclipse.core.resources.IResource">
                  <or>
                     <test
                           property="org.eclipse.core.resources.extension"
                           value="bpmn">
                     </test>
                     <test
                           property="org.eclipse.core.resources.extension"
                           value="bpmn2">
                     </test>
                  </or>
               </adapt>
            </iterate>
         </with>
      </definition>
   </extension>

</plugin>
