<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="de.tudarmstadt.dvs.ukuflow.handler.ConvertCommand"
            id="de.tu_darmstadt.dvs.bpmn2Converter.convertcommand"
            name="convertcmd">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="popup:org.eclipse.jdt.ui.PackageExplorer">
         <command
               commandId="de.tu_darmstadt.dvs.bpmn2Converter.convertcommand"
               label="Convert to C code"
               style="push">
         </command>
      </menuContribution>
   </extension>

</plugin>
