<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="de.tudarmstadt.dvs.ukuflow.handler.ConvertCommand"
            id="de.tu_darmstadt.dvs.bpmn2Converter.convertcommand"
            name="convertcmd">
      </command>
      <command
            defaultHandler="de.tudarmstadt.dvs.ukuflow.deployment.DeployCommand"
            id="de.tudarmstadt.dvs.ukuflow.deployment.deploycommand"
            name="deploycommand">
         <commandParameter
               id="de.tudarmstadt.dvs.ukuflow.deployment.portID"
               name="PortID"
               optional="false">
         </commandParameter>
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            class="de.tudarmstadt.dvs.ukuflow.deployment.DynamicCommandFactory"
            locationURI="popup:org.eclipse.jdt.ui.PackageExplorer">
      </menuContribution>
   </extension> 

</plugin>
