<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://de/tudarmstadt/dvs/ukuflow/eventbase"
            class="eventbase.EventbasePackage"
            genModel="model/eventbase.genmodel"/>
   </extension>

</plugin>
