/tester/tester.ihex
/tester/tester.sky
/contiki-sky.a
/contiki-sky.map
/symbols.c
/symbols.h
/obj_*
/doc/html/*
/.bpmn/*
/tmpimage.ihex
/contiki-z1.a
/contiki-z1.map
/ukuflow-serial.ihex
/ukuflow-serial.sky
/ukuflow-serial.z1
/ukuflow-serial.xm1000
/contiki-xm1000.a
/contiki-xm1000.map
