<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="de.tudarmstadt.dvs.ukuflow.handler.ConvertCommand"
            id="de.tudarmstadt.dvs.ukuflow.converterBase64"
            name="convertcmd">
         <commandParameter
               id="de.tudarmstadt.dvs.ukuflow.convert.validateonly"
               name="name"
               optional="false">
         </commandParameter>
      </command>
      <command
            id="de.tudarmstadt.dvs.ukuflow.validationCommand"
            name="validation">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.ui.popup.any?after=additions">
         <menu
               icon="icon/ukuflow.png"
               label="&amp;ukuFlow"
               mnemonic="test">
            <menu
                  icon="icon/usbport.png"
                  label="&amp;Deploy to"
                  mnemonic="deploy the workflow on one of the connected nodes (z1 or sky)">
               <dynamic
                     class="de.tudarmstadt.dvs.ukuflow.deployment.DeploymentDynamicMenu"
                     id="de.tudarmstadt.dvs.ukuflow.deploymentDynamic">
               </dynamic>
            </menu>
            <menu
                  label="Undeploy..">
               <dynamic
                     class="de.tudarmstadt.dvs.ukuflow.deployment.UndeploymentCommand"
                     id="de.tudarmstadt.dvs.ukuflow.undeploymentdymanic">
               </dynamic>
            </menu>
            <command
                  commandId="de.tudarmstadt.dvs.ukuflow.converterBase64"
                  icon="icon/binary.png"
                  label="&amp;Convert to Base64"
                  mnemonic="the output will be save in a file with .uku64 extension"
                  style="push">
               <visibleWhen
                     checkEnabled="false">
                  <with
                        variable="activeMenuSelection">
                     <iterate
                           ifEmpty="false"
                           operator="or">
                        <adapt
                              type="org.eclipse.core.resources.IResource">
                           <or>
                              <test
                                    property="org.eclipse.core.resources.extension"
                                    value="bpmn">
                              </test>
                              <test
                                    property="org.eclipse.core.resources.extension"
                                    value="bpmn2">
                              </test>
                           </or>
                        </adapt>
                     </iterate>
                  </with>
               </visibleWhen>
               <parameter
                     name="de.tudarmstadt.dvs.ukuflow.convert.validateonly"
                     value="false">
               </parameter>
            </command>
            <visibleWhen
                  checkEnabled="false">
               <and>
                  <count
                        value="1">
                  </count>
                  <with
                        variable="activeMenuSelection">
                     <iterate
                           ifEmpty="false"
                           operator="or">
                        <adapt
                              type="org.eclipse.core.resources.IResource">
                           <or>
                              <test
                                    property="org.eclipse.core.resources.extension"
                                    value="bpmn">
                              </test>
                              <test
                                    property="org.eclipse.core.resources.extension"
                                    value="bpmn2">
                              </test>
                              <test
                                    property="org.eclipse.core.resources.extension"
                                    value="uku">
                              </test>
                              <test
                                    property="org.eclipse.core.resources.extension"
                                    value="uku64">
                              </test>
                           </or>
                        </adapt>
                     </iterate>
                  </with>
               </and>
            </visibleWhen>
            <command
                  commandId="de.tudarmstadt.dvs.ukuflow.converterBase64"
                  label="&amp;Validate"
                  style="push">
               <parameter
                     name="de.tudarmstadt.dvs.ukuflow.convert.validateonly"
                     value="true">
               </parameter>
            </command>
         </menu>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.core.expressions.definitions">
      <definition
            id="de.tudarmstadt.dvs.ukuflow.menu.visiblity">
            <with
                     variable="activeMenuSelection">
                  <iterate
                        ifEmpty="false"
                        operator="or">
                     <adapt
                           type="org.eclipse.core.resources.IResource">
                        <or>
                           <test
                                 property="org.eclipse.core.resources.extension"
                                 value="bpmn">
                           </test>
                           <test
                                 property="org.eclipse.core.resources.extension"
                                 value="bpmn2">
                           </test>
                           <test
                                 property="org.eclipse.core.resources.extension"
                                 value="uku">
                           </test>
                           <test
                                 property="org.eclipse.core.resources.extension"
                                 value="uku64">
                           </test>
                        </or>
                     </adapt>
                  </iterate>
               </with>
      </definition>
      <definition
            id="de.tudarmstadt.dvs.ukuflow.converterBase64.visibility">
         <with
               variable="activeMenuSelection">
            <iterate
                  ifEmpty="false"
                  operator="or">
               <adapt
                     type="org.eclipse.core.resources.IResource">
                  <or>
                     <test
                           property="org.eclipse.core.resources.extension"
                           value="bpmn">
                     </test>
                     <test
                           property="org.eclipse.core.resources.extension"
                           value="bpmn2">
                     </test>
                  </or>
               </adapt>
            </iterate>
         </with>
      </definition>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="de.tudarmstadt.dvs.ukuflow.preference.UkuPreferencePageHome"
            id="de.tudarmstadt.dvs.ukuflow.preferencePageMain"
            name="ukuFlow">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="de.tudarmstadt.dvs.ukuflow.preference.UkuPreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="de.tudarmstadt.dvs.ukuflow.editorcategory"
            name="ukuFLow">
      </category>
      <wizard
            category="de.tudarmstadt.dvs.ukuflow.editorcategory"
            class="de.tudarmstadt.dvs.ukuflow.NewWizard1"
            id="de.tudarmstadt.dvs.ukuflow.wizarddiagram"
            name="ukuFLow Diagram">
      </wizard>
   </extension>
   <extension
         point="org.eclipse.debug.core.launchConfigurationTypes">
      <launchConfigurationType
            delegateName="UkuFlow Deployment Launcher"
            id="de.tudarmstadt.dvs.ukuflow.launcher"
            modes="run,debug"
            name="UkuFlow Deployment"
            sourceLocatorId="org.eclipse.jdt.launching.sourceLocator.JavaSourceLookupDirector"
            sourcePathComputerId="org.eclipse.jdt.launching.sourceLookup.javaSourcePathComputer">
      </launchConfigurationType>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="de.tudarmstadt.dvs.ukuflow.viewCategory"
            name="UkuFlow">
      </category>
      <view
            allowMultiple="true"
            category="de.tudarmstadt.dvs.ukuflow.viewCategory"
            class="de.tudarmstadt.dvs.ukuflow.deployment.launch.console.DeploymentConsoleView"
            icon="icon/deployment.gif"
            id="de.tudarmstadt.dvs.ukuflow.deploymentView"
            name="ukuFlow"
            restorable="false">
      </view>
   </extension>

</plugin>
